<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>系统设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/layuimini/css/public.css}" media="all">
</head>
<body>

<div class="layuimini-container" style="background-color: #e2e2e2">
    <div class="layuimini-main" style="font-size: 16px;">
        <div>
            <span>头像：</span>
            <img style="width: 150px; height: 150px" th:src="${session.get('user') == null || session.user.img == null? '/images/default.jpg' : session.user.img}">
        </div>
        <div style="margin-top: 30px">
            <span>用户名：</span>
            <span th:text="${session.user.username}"></span>
        </div>
        <div style="margin-top: 30px">
            <span>性别：</span>
            <span th:text="${session.user.sex}"></span>
        </div>
        <div style="margin-top: 30px">
            <span>电子邮箱：</span>
            <span th:text="${session.user.email}"></span>
        </div>
        <div style="margin-top: 30px">
            <span>创建时间：</span>
            <span th:text="${session.user.time}"></span>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery.min.js}" crossorigin="anonymous"></script>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>

</body>
</html>


