<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" th:href="@{layui/css/layui.css}">

    <style>

    </style>
</head>

<body style="background-color: #FAFAFA">

<div class="layui-container" style="width: auto">

    <div class="layui-row">

        <div class="layui-col-md10 layui-col-md-offset1">
            <!--        导航栏-->
            <ul class="layui-nav" th:fragment="header">
                <li class="layui-nav-item">
                    <a th:href="@{/}">主页</a>
                </li>

                <li class="layui-nav-item">
                    <a href="">热门</a>
                </li>

                <li class="layui-nav-item" style="margin-right: 600px">
                    <a href="">分类</a>
                </li>

                <li class="layui-nav-item" style="margin-right: 250px">
                    <div class="ui icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="搜索...">
                    </div>
                </li>

                <li class="layui-nav-item">
                    <a th:href="@{/login}">
                        <i class="layui-icon layui-icon-username" style="font-size: 25px;"></i>
                    </a>
                </li>
            </ul>

            <!--            视频，轮播图-->
            <div class="layui-row layui-col-space10" style="margin-top: 5px">
                <!--         首页视频-->
                <video id="video" class="layui-col-md8" muted controls loop autoplay>
                    <source src="https://angenela.oss-cn-shenzhen.aliyuncs.com/video/Everything%20Allright.mp4" type="video/mp4">
                </video>

                <div class="layui-carousel layui-col-md2">
                    <img th:src="@{image/arknights/1.jpg}" style="width: 515px; height: 292px">

                    <div id="carousel1" class="layui-carousel" style="margin-top: 5px">
                        <div carousel-item>
                            <img th:src="@{image/arknights/2.jpg}" style="width: 515px; height: 292px">
                            <img th:src="@{image/arknights/3.jpg}" style="width: 515px; height: 292px">
                            <img th:src="@{image/arknights/4.jpg}" style="width: 515px; height: 292px">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


</body>

<script th:src="@{js/jquery.min.js}" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script th:src="@{layui/layui.all.js}"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    layui.use('carousel', function () {
        var carousel = layui.carousel;
        //建造实例
        carousel.render({
            elem: '#carousel1'
            , height: '292px'
            , width: '515px' //设置容器宽度
            , arrow: 'always' //始终显示箭头
            //,anim: 'updown' //切换动画方式
        });
    });
</script>

</html>